[Desktop Entry]
Version=1.0
Type=Application
Name=Super WebApp
GenericName=Gerenciador de WebApps
Comment=Transform websites into native desktop applications
Exec=webapps-manager
Icon=br.com.infinity.webapps
Terminal=false
Categories=Network;WebBrowser;System;
Keywords=webapp;browser;internet;web;application;
StartupNotify=true
StartupWMClass=br.com.infinity.webapps
